<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='个人测试结果管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header" class="no-print"></div>
    <a id="checkThat" style="display: none"><shiro:principal property="roleId"></shiro:principal></a>
    <a id="userId" style="display: none"><shiro:principal property="id"></shiro:principal></a>
    <a id="userName" style="display: none"><shiro:principal property="sysUserName"></shiro:principal></a>
    <a id="primaryKey" style="display: none"></a>

    <div id="showProjectDetail" class="layer_self_wrap" style="display:none; ">
        <form id="projectAddFormShow" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">

            <blockquote class="layui-elem-quote">项目基本信息</blockquote>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>项目编号</b></label>
                <div class="layui-input-block">
                    <input id="projectIdShow"  lay-verify="required" autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>项目名称</b></label>
                <div class="layui-input-block">
                    <input id="projectNameShow"  lay-verify="required" autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>项目关键词</b></label>
                <div class="layui-input-block">
                    <input id="projectKeyWordsShow" lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>项目类型</b></label>
                <div class="layui-input-block">
                    <input id="projectTypeShow" lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>所属学校</b></label>
                <div class="layui-input-block">
                    <input id="projectBelongSchoolShow" lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>立项时间</b></label>
                <div class="layui-input-block">
                    <input id="projectEstablishTimeShow"  lay-verify="required" autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>项目简介</b></label>
                <div class="layui-input-block">
                    <textarea id="projectIntroductionShow"  lay-verify="required"  class="layui-textarea" readonly></textarea>
                </div>
            </div>


            <br>
            <blockquote class="layui-elem-quote">项目详细信息</blockquote>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>申请理由</b></label>
                <div class="layui-input-block">
                    <textarea id="projectApplyReasonShow"  lay-verify="required"  class="layui-textarea" readonly></textarea>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class=" layui-col-xs6" >
                    <label class="layui-form-label"><b>申请表</b></label>
                    <button id="projectApplyTableShow" type="button" class="layui-btn" onclick="pdfPreview(this)" style="width: 300px">
                        <i class="layui-icon">&#xe67c;</i>查看申请表
                    </button>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class=" layui-col-xs6" >
                    <label class="layui-form-label"><b>项目策划书</b></label>
                    <button type="button" class="layui-btn" id="projectPlanningBookShow"  onclick="pdfPreview(this)" style="width: 300px">
                        <i class="layui-icon">&#xe67c;</i>查看项目策划书
                    </button>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>实施时间</b></label>
                <div class="layui-input-block">
                    <input id="projectImplementationTimeShow" lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>预期成果</b></label>
                <div class="layui-input-block">
                    <textarea id="projectExpectedResultsShow"  lay-verify="required" class="layui-textarea" readonly></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>经费预算</b></label>
                <div class="layui-input-block">
                    <textarea id="projectMoneyBudgetsShow" lay-verify="required" class="layui-textarea" readonly></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>学校提供条件</b></label>
                <div class="layui-input-block">
                    <input id="projectXFTGTJShow"  lay-verify="required" autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>指导老师</b></label>
                <div class="layui-input-block">
                    <input id="projectGuidanceTeacherShow"  lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>

            <br>
            <blockquote class="layui-elem-quote">项目成员</blockquote>
            <div class="layui-form-item layui-form-text" style="display: none">
                <label class="layui-form-label">项目成员</label>
                <div class="layui-input-block">
                    <input id="projectMembersShow"  lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>年级</th>
                    <th>学号</th>
                    <th>专业</th>
                    <th>联系电话</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </form>
    </div>

    <div id="projectPassed" class="layer_self_wrap" style="display:none; ">
        <form id="projectPassedForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <blockquote class="layui-elem-quote">项目审核</blockquote>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>是否通过</b></label>
                <div class="layui-input-block">
                    <select name="project_pass_status" id="project_pass_status" lay-verify="required" lay-filter="passOrNot" lay-search>
                        <option value="" >请选择</option>
                        <option value="DDLXDB" >通过</option>
                        <option value="LXSQBTG" >不通过</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item layui-form-text" id="shyj" style="display: none">
                <label class="layui-form-label"><b>审核意见</b></label>
                <div class="layui-input-block">
                    <textarea id="project_pass_detail"  name="project_pass_detail" placeholder="选填，立项审核不通过时可适当给出审核详情" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item" id="dbsj" style="display: none">
                <label class="layui-form-label" style="width: 175px"><b>立项答辩时间</b></label>
                <div class="layui-input-inline" style="width: 350px;">
                    <input  id="project_LX_DBSJ" name="project_LX_DBSJ" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 40%;">
                    <button class="layui-btn"  lay-submit="" lay-filter="passOrNotSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <div id="projectLX" class="layer_self_wrap" style="display:none; ">
        <form id="projectLXForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <blockquote class="layui-elem-quote">项目立项</blockquote>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>是否立项</b></label>
                <div class="layui-input-block">
                    <select name="project_pass_status" id="LXOrNot"  lay-verify="required" lay-filter="LXOrNot" lay-search>
                        <option value="" >请选择</option>
                        <option value="LXSQTG" >通过</option>
                        <option value="LXSQBTG" >不通过</option>
                    </select>
                </div>
            </div>
            <input name="project_current_JD" id="project_current_JD" type="hidden"/>

            <div class="layui-form-item layui-form-text" id="XFTGTJ" style="display: none">
                <label class="layui-form-label"><b>校方提供条件</b></label>
                <div class="layui-input-block">
                    <textarea id="projectXFTGTJ"  name="projectXFTGTJ" placeholder="学校能为学生的创业项目提供怎样的条件支持"  class="layui-textarea"></textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 40%;">
                    <button class="layui-btn"  lay-submit="" lay-filter="LXSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <div id="testResultListFather" class="layui-body" style="margin: 1%">
        <hr class="layui-bg-green"/>
        <button  class="layui-btn"  onclick="back2Home();">返回我的主页</button>

        <table id="projectListForSchool" lay-filter="projectForSchoolTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="projectDetail">项目详情</a>
            {{#  if(d.project_current_JD == '已立项'){ }}
            <a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="">已立项</a>
            {{#  } else if(d.project_current_JD == '创新阶段'){ }}
            <a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="">创新阶段</a>
            {{#  } else if(d.project_current_JD == '成长阶段'){ }}
            <a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="">成长阶段</a>
            {{#  }
            }}

            {{#  if(d.project_recommend_sign == '1'  ){ }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deleteRecommended">撤回推优</a>
            {{#  } else if(d.project_recommend_sign == null || d.project_recommend_sign == '0' || d.project_recommend_sign == ''){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="recommend2Company">推优</a>
            {{#  }
            }}
        </script>
    </div>

    <!--底部-->
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <script src="/projectDeclaration/LXProjectListForSchool.js"></script>
    <script src="/js/getCookies.js"></script>
    <script>
        var pdf1 = "";
        var pdf2 = "";
        layui.use(['upload','element','form'], function(){
            var element = layui.element;
            var form = layui.form;
            var  layer = layui.layer;
            var upload = layui.upload;
            //执行实例
            upload.render({
                elem: '#uploadButton1' //绑定元素
                ,url: '/upload/noticeFileUpload' //上传接口
                ,method: 'post'
                ,accept: 'file'
                ,exts: 'pdf'
                ,done: function(res){

                    document.getElementById("previewButton1").style.display='';
                    pdf1 = res.fileUrl;
                    $("#projectApplyTable").val(res.fileUrl);

                }
                ,error: function(){
                    alert("failed");
                    //请求异常回调
                }
            });

            upload.render({
                elem: '#uploadButton2' //绑定元素
                ,url: '/upload/noticeFileUpload' //上传接口
                ,method: 'post'
                ,accept: 'file'
                ,exts: 'pdf'
                ,done: function(res){

                    document.getElementById("previewButton2").style.display='';
                    pdf2 = res.fileUrl;
                    $("#projectPlanningBook").val(res.fileUrl);

                }
                ,error: function(){
                    alert("failed");
                    //请求异常回调
                }
            });

            form.on('select(passOrNot)', function (data) {
                var message=data.value;
                console.log(message);
                if(message=="DDLXDB"){
                   document.getElementById("shyj").style.display='none';
                    document.getElementById("dbsj").style.display='';
                    form.render('select');
                }else if(message=="LXSQBTG"){
                    document.getElementById("dbsj").style.display='none';
                    document.getElementById("shyj").style.display='';
                    form.render('select');
                }
            });

            form.on('select(LXOrNot)', function (data) {
                var message=data.value;
                console.log(message);
                if(message=="LXSQTG"){
                    document.getElementById("XFTGTJ").style.display='';
                    $("#project_current_JD").val("已立项");
                    form.render('select');
                }else if(message=="LXSQBTG"){
                    document.getElementById("XFTGTJ").style.display='none';
                    $("#project_current_JD").val("");
                    form.render('select');
                }
            });

            form.on('submit(passOrNotSubmit)', function(data){
                // TODO 校验
                var primaryKey = document.getElementById("primaryKey").innerText;
                $.ajax({
                    type: "POST",
                    data: $.param({"id":primaryKey}) + '&' + $("#projectPassedForm").serialize(),
                    url: "/declaration/updateProjectDetail",
                    success: function (data) {
                        if (data.code == 1) {
                            layer.alert(data.msg,function(){
                                layer.closeAll();
                                location.reload();

                            });
                        } else {
                            layer.alert(data.msg);
                        }
                    }
                });
                return false;
            });

            form.on('submit(LXSubmit)', function(data){
                // TODO 校验
                var primaryKey = document.getElementById("primaryKey").innerText;
                $.ajax({
                    type: "POST",
                    data: $.param({"id":primaryKey}) + '&' + $("#projectLXForm").serialize(),
                    url: "/declaration/agreeTheLXApply",
                    success: function (data) {
                        if (data.code == 1) {
                            layer.alert(data.msg,function(){
                                layer.closeAll();
                                location.reload();
                            });
                        } else {
                            layer.alert(data.msg);
                        }
                    }
                });
                return false;
            });
        });
        function picPreview1() {
            var uul = pdf1;
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    title: '工作证明信息',
                    type: 2,
                    area: ['1000px', '950px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: uul
                    //
                });
            });
        }
        function picPreview2() {
            var uul = pdf2;
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    title: '学校证明信息',
                    type: 2,
                    area: ['1000px', '950px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: uul
                    //
                });
            });
        }
        $(function() {
            //日期选择框
            layui.use(['form', 'laydate'], function () {
                var form = layui.form, layer = layui.layer
                    , laydate = layui.laydate;
                //日期
                laydate.render({
                    elem: '#project_LX_DBSJ'
                });

            });

        });
        function back2Home() {
            location.href = "/home";

        }

        function pdfPreview(obj) {
            var uul = $(obj).val();
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    title: '查看文件',
                    type: 2,
                    area: ['1000px', '950px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: uul
                    //
                });
            });
        }
    </script>
</div>

</body>
</html>