<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='个人测试结果管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header" class="no-print"></div>
    <a id="checkThat" style="display: none"><shiro:principal property="roleId"></shiro:principal></a>
    <a id="userId" style="display: none"><shiro:principal property="id"></shiro:principal></a>
    <a id="userName" style="display: none"><shiro:principal property="sysUserName"></shiro:principal></a>
    <a id="primaryKey" style="display: none"></a>

    <!--显示项目详情-->
    <div id="showProjectDetail" class="layer_self_wrap" style="display:none; ">
        <form id="projectAddFormShow" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">

            <blockquote class="layui-elem-quote">项目基本信息</blockquote>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>项目编号</b></label>
                <div class="layui-input-block">
                    <input id="projectIdShow"  lay-verify="required" autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>项目名称</b></label>
                <div class="layui-input-block">
                    <input id="projectNameShow"  lay-verify="required" autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>项目关键词</b></label>
                <div class="layui-input-block">
                    <input id="projectKeyWordsShow" lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>项目所属领域</b></label>
                <div class="layui-input-block">
                    <input id="project_belong_fields_show"  lay-verify="required" autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>项目类型</b></label>
                <div class="layui-input-block">
                    <input id="projectTypeShow" lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>所属学校</b></label>
                <div class="layui-input-block">
                    <input id="projectBelongSchoolShow" lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>立项时间</b></label>
                <div class="layui-input-block">
                    <input id="projectEstablishTimeShow"  lay-verify="required" autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>项目简介</b></label>
                <div class="layui-input-block">
                    <textarea id="projectIntroductionShow"  lay-verify="required"  class="layui-textarea" readonly></textarea>
                </div>
            </div>


            <br>
            <blockquote class="layui-elem-quote">项目详细信息</blockquote>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>申请理由</b></label>
                <div class="layui-input-block">
                    <textarea id="projectApplyReasonShow"  lay-verify="required"  class="layui-textarea" readonly></textarea>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class=" layui-col-xs6" >
                    <label class="layui-form-label"><b>申请表</b></label>
                    <button id="projectApplyTableShow" type="button" class="layui-btn" onclick="pdfPreview(this)" style="width: 300px">
                        <i class="layui-icon">&#xe67c;</i>查看申请表
                    </button>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class=" layui-col-xs6" >
                    <label class="layui-form-label"><b>项目策划书</b></label>
                    <button type="button" class="layui-btn" id="projectPlanningBookShow"  onclick="pdfPreview(this)" style="width: 300px">
                        <i class="layui-icon">&#xe67c;</i>查看项目策划书
                    </button>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>实施时间</b></label>
                <div class="layui-input-block">
                    <input id="projectImplementationTimeShow" lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>预期成果</b></label>
                <div class="layui-input-block">
                    <textarea id="projectExpectedResultsShow"  lay-verify="required" class="layui-textarea" readonly></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>经费预算</b></label>
                <div class="layui-input-block">
                    <textarea id="projectMoneyBudgetsShow" lay-verify="required" class="layui-textarea" readonly></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>学校提供条件</b></label>
                <div class="layui-input-block">
                    <input id="projectXFTGTJShow"  lay-verify="required" autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>指导老师</b></label>
                <div class="layui-input-block">
                    <input id="projectGuidanceTeacherShow"  lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>

            <br>
            <blockquote class="layui-elem-quote">项目成员</blockquote>
            <div class="layui-form-item layui-form-text" style="display: none">
                <label class="layui-form-label">项目成员</label>
                <div class="layui-input-block">
                    <input id="projectMembersShow"  lay-verify="required"  autocomplete="off" class="layui-input" type="text" readonly/>
                </div>
            </div>
            <table class="layui-table">
                <colgroup>
                    <col width="240">
                    <col width="240">
                    <col width="240">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>年级</th>
                    <th>学号</th>
                    <th>专业</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>

            <blockquote class="layui-elem-quote">项目融资情况</blockquote>
            <table id="projectFinance" lay-filter="projectFinanceTable"></table>
        </form>
    </div>
    <!--添加项目申报-->
    <div id="addProjectDeclaration" class="layer_self_wrap" style="display:none; ">
        <form id="projectAddForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <input id="projectOwnerId" type="hidden" name="projectOwnerId"/>
            <input id="projectOwnerName" type="hidden" name="projectOwnerName"/>
            <input type="hidden" id="project_belong_fields" name="project_belong_fields">

            <!--表单提交前js会进行字符串拼接并将值填充进来-->
            <input id="projectImplementationTime" type="hidden" name="projectImplementationTime"/>
            <input id="projectMembers" type="hidden" name="projectMembers"/>

            <blockquote class="layui-elem-quote">项目基本信息</blockquote>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">项目名称</label>
                <div class="layui-input-block">
                    <input id="projectName" name="projectName" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">项目关键词</label>
                <div class="layui-input-block">
                    <input id="projectKeyWords" name="projectKeyWords" lay-verify="required" placeholder="请用中文逗号（，）分隔" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">项目所属领域</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="belong_fields" title="农、林、牧、渔业" value="农、林、牧、渔业">
                    <input type="checkbox" name="belong_fields" title="采矿业" value="采矿业">
                    <input type="checkbox" name="belong_fields" title="制造业" value="制造业">
                    <input type="checkbox" name="belong_fields" title="水、电、热力、燃气生产及供应" value="水、电、热力、燃气生产及供应">
                    <input type="checkbox" name="belong_fields" title="建筑业" value="建筑业">
                    <input type="checkbox" name="belong_fields" title="批发和零售业" value="批发和零售业">
                    <input type="checkbox" name="belong_fields" title="交通运输、仓储和物流业" value="交通运输、仓储和物流业">
                    <input type="checkbox" name="belong_fields" title="住宿和餐饮业" value="住宿和餐饮业">
                    <input type="checkbox" name="belong_fields" title="信息技术服务业" value="信息技术服务业">
                    <input type="checkbox" name="belong_fields" title="金融业" value="金融业">
                    <input type="checkbox" name="belong_fields" title="房地产业" value="房地产业">
                    <input type="checkbox" name="belong_fields" title="租赁和商务服务业" value="租赁和商务服务业">
                    <input type="checkbox" name="belong_fields" title="科学技术服务业" value="科学技术服务业">
                    <input type="checkbox" name="belong_fields" title="水利、环境和公共设施管理" value="水利、环境和公共设施管理">
                    <input type="checkbox" name="belong_fields" title="居民服务、修理和其他服务业" value="居民服务、修理和其他服务业">
                    <input type="checkbox" name="belong_fields" title="教育" value="教育">
                    <input type="checkbox" name="belong_fields" title="医疗和社会工作" value="医疗和社会工作">
                    <input type="checkbox" name="belong_fields" title="文化、体育和娱乐业" value="文化、体育和娱乐业">


                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">项目类型</label>
                <div class="layui-input-block">
                    <select name="projectType" id="projectType" lay-verify="required" lay-search>
                        <option value="">请选择项目类型</option>
                        <option value="高校科研转化项目" >高校科研转化项目</option>
                        <option value="学生团队项目" >学生团队项目</option>
                        <option value="师生共创项目" >师生共创项目</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">所属学校</label>
                <div class="layui-input-block">
                    <select name="projectBelongSchool" id="projectBelongSchool" lay-verify="required" lay-search>
                        <option value="">请选择项目学校，可搜索，若您的学校不在其中，请联系管理员</option>
                        <option value="福建工程学院" >福建工程学院</option>
                        <option value="福州大学" >福州大学</option>
                        <option value="福建师范大学" >福建师范大学</option>
                        <option value="福建农林大学" >福建农林大学</option>
                        <option value="福建江夏学院" >福建江夏学院</option>
                        <option value="闽江学院" >闽江学院</option>
                        <option value="福建中医药大学" >福建中医药大学</option>
                        <option value="福建医科大学" >福建医科大学</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">项目简介</label>
                <div class="layui-input-block">
                    <textarea id="projectIntroduction" name="projectIntroduction" lay-verify="required" placeholder="请输入[项目简介]" class="layui-textarea"></textarea>
                </div>
            </div>



            <br>
            <blockquote class="layui-elem-quote">项目详细信息</blockquote>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">申请理由</label>
                <div class="layui-input-block">
                    <textarea id="projectApplyReason" name="projectApplyReason" lay-verify="required" placeholder="请输入[申请理由]" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class=" layui-col-xs6" >
                    <label class="layui-form-label">申请表</label>
                    <div class="layui-input-block">
                        <input type="text" id="projectApplyTable" name="projectApplyTable" lay-verify="required"  placeholder="请上传申请表文件，支持类型：PDF" autocomplete="off" class="layui-input" readonly>
                    </div>
                </div>

                <div class=" layui-col-xs6" >
                    <button type="button" class="layui-btn" id="uploadButton1">
                        <i class="layui-icon">&#xe67c;</i>上传文件
                    </button>

                    <button type="button" class="layui-btn" id="previewButton1" style="display: none" onclick="picPreview1()">
                        <i class="layui-icon">&#xe67c;</i>预览
                    </button>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class=" layui-col-xs6" >
                    <label class="layui-form-label">项目策划书</label>
                    <div class="layui-input-block">
                        <input type="text" id="projectPlanningBook" name="projectPlanningBook" lay-verify="required"  placeholder="请上传项目策划书文件，支持类型：PDF" autocomplete="off" class="layui-input" readonly>
                    </div>
                </div>

                <div class=" layui-col-xs6" >
                    <button type="button" class="layui-btn" id="uploadButton2">
                        <i class="layui-icon">&#xe67c;</i>上传文件
                    </button>

                    <button type="button" class="layui-btn" id="previewButton2" style="display: none" onclick="picPreview2()">
                        <i class="layui-icon">&#xe67c;</i>预览
                    </button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">实施时间</label>
                <div class="layui-input-inline" style="width: 175px;">
                    <input   id="startTime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 175px;">
                    <input  id="endTime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">预期成果</label>
                <div class="layui-input-block">
                    <textarea id="projectExpectedResults" name="projectExpectedResults"  lay-verify="required" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">经费预算</label>
                <div class="layui-input-block">
                    <textarea id="projectMoneyBudgets" name="projectMoneyBudgets"  lay-verify="required" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">指导老师</label>
                <div class="layui-input-block">
                    <input id="projectGuidanceTeacher" name="projectGuidanceTeacher" lay-verify="required"  autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>


            <br>
            <blockquote class="layui-elem-quote">项目成员</blockquote>
            <div id="memberForm1" style="padding: 20px">
                <div style="border: #009688 solid 2px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label ">姓名</label>
                        <div class="layui-input-block">
                            <input id="projectMemberName1"  lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">年级</label>
                        <div class="layui-input-block">
                            <select name="projectMemberGrade" id="projectMemberGrade1" lay-verify="required" lay-search>
                                <option value="">请选择年级</option>
                                <option value="大一" >大一</option>
                                <option value="大二" >大二</option>
                                <option value="大三" >大三</option>
                                <option value="大四" >大四</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">学号</label>
                        <div class="layui-input-block">
                            <input id="projectMemberStudentID1"  lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">专业</label>
                        <div class="layui-input-block">
                            <input id="projectMemberMajor1"  lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    </div>
                </div>
            </div>
            <button class="layui-btn" type="button" style="width: 300px; margin-top: 10px; margin-left: 35%" onclick="addProjectMembers()">继续添加</button>


            <br><br>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="userSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!-项目阶段变更申请-->
    <div id="JDBGApply" class="layer_self_wrap" style="display:none; ">
        <form id="JDBGApplyForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">


            <blockquote class="layui-elem-quote">项目阶段变更申请<br>请上传相关附件供答辩组审阅</blockquote>
            <input type="hidden" id="project_pass_status" name="project_pass_status"/>
            <div class="layui-row layui-form-item">
                <div class=" layui-col-xs6" >
                    <label class="layui-form-label">附件</label>
                    <div class="layui-input-block">
                        <input type="text" id="project_JDBG_SQFJ" name="project_JDBG_SQFJ" lay-verify="required"  placeholder="阶段变更申请时需提交相关附件，以描述您的项目当前情况" autocomplete="off" class="layui-input" readonly>
                    </div>
                </div>

                <div class=" layui-col-xs6" >
                    <button type="button" class="layui-btn" id="JDBGApplyUploadButton">
                        <i class="layui-icon">&#xe67c;</i>上传附件
                    </button>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="JDBGApplySubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!-项目融资添加-->
    <div id="addFinance" class="layer_self_wrap" style="display:none; ">
        <form id="addFinanceForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">

            <blockquote class="layui-elem-quote">项目融资信息</blockquote>
            <input type="hidden" id="project_id_finance" name="project_id"/>
            <input type="hidden" id="project_name_finance" name="project_name"/>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">融资方</label>
                <div class="layui-input-block">
                    <input type="text" id="finance_company" name="finance_company" lay-verify="required"  placeholder="向您的项目融资的公司或个人投资人" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">融资金额</label>
                <div class="layui-input-block">
                    <input type="text" id="finance_money" name="finance_money" lay-verify="required"  autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">融资类型</label>
                <div class="layui-input-block">
                    <select name="finance_type" id="finance_type" lay-verify="required" lay-search>
                        <option value="">请选择融资类型</option>
                        <option value="种子轮" >种子轮</option>
                        <option value="天使轮" >天使轮</option>
                        <option value="A轮" >A轮</option>
                        <option value="B轮" >B轮</option>
                        <option value="C轮" >C轮</option>
                        <option value="D轮" >D轮</option>
                        <option value="E轮及以后" >E轮及以后</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 175px">获得融资时间</label>
                <div class="layui-input-inline" style="width: 350px;">
                    <input  id="finance_get_time" name="finance_get_time" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="addFinanceSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!-留言-->
    <div id="addMessage" class="layer_self_wrap" style="display:none; ">
        <form id="addMessageForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">

            <blockquote class="layui-elem-quote">向该项目的发起者留言</blockquote>

            <input type="hidden" id="message_owner" name="message_owner"/>
            <input type="hidden" id="message_sender" name="message_sender"/>
            <input type="hidden" id="project_name_message" name="project_name"/>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" id="message_title" name="message_title" lay-verify="required"   autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">留言内容</label>
                <div class="layui-input-block">
                    <textarea id="message_content" name="message_content" lay-verify="required" placeholder="请输入留言内容" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="addMessageSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!-查看立项答辩时间-->
    <div id="checkDBSJ" class="layer_self_wrap" style="display:none; ">
        <form class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <blockquote class="layui-elem-quote">立项答辩地点时间</blockquote>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">答辩地点</label>
                <div class="layui-input-block">
                    <input type="text" id="LXDBDD"  class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">答辩时间</label>
                <div class="layui-input-block">
                    <input type="text" id="LXDBSJ"  class="layui-input" readonly>
                </div>
            </div>
        </form>
    </div>

    <!-查看创新答辩时间-->
    <div id="checkCXDBSJ" class="layer_self_wrap" style="display:none; ">
        <form class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <blockquote class="layui-elem-quote">创新阶段变更答辩地点时间</blockquote>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">答辩地点</label>
                <div class="layui-input-block">
                    <input type="text" id="CXDBDD"  class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">答辩时间</label>
                <div class="layui-input-block">
                    <input type="text" id="CXDBSJ"  class="layui-input" readonly>
                </div>
            </div>
        </form>
    </div>

    <!-查看成长答辩时间-->
    <div id="checkCZDBSJ" class="layer_self_wrap" style="display:none; ">
        <form class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <blockquote class="layui-elem-quote">成长阶段变更答辩地点时间</blockquote>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">答辩地点</label>
                <div class="layui-input-block">
                    <input type="text" id="CZDBDD"  class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">答辩时间</label>
                <div class="layui-input-block">
                    <input type="text" id="CZDBSJ"  class="layui-input" readonly>
                </div>
            </div>
        </form>
    </div>

    <div id="testResultListFather" class="layui-body" style="margin: 1%">

        <hr class="layui-bg-green"/>

        <button id="projectApply" class="layui-btn" onclick="addProjectDeclaration();" style="display: none">创业项目申报</button>
        <button id="showInfo" class="layui-btn layui-btn-disabled"  style="display: none">身份未认证</button>
        <button  class="layui-btn"  onclick="back2Home();">返回我的主页</button>

        <table id="projectListForStudent" lay-filter="projectForStudentTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="projectDetail">项目详情</a>

            {{#  if(d.project_current_JD == '' || d.project_pass_status == 'LXSQFQ'){ }}
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="">未立项</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs " lay-event="del">删除</a>
            {{#  }

            else if(d.project_pass_status == 'LXSQTG'){ }}
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="">已立项</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="JDBG_CXJD">申请阶段变更至创新阶段</a>
            <a class="layui-btn layui-btn-xs" lay-event="addFinance">添加融资条目</a>
            {{#  }

            else if(d.project_pass_status == 'DDLXDB'){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="checkDBSJ">立项答辩时间已安排</a>
            {{#  }

            else if(d.project_pass_status == 'FQJDBG_CXJD'){ }}
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="">已立项</a>
            <a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="">创新阶段变更申请已发起</a>
            <a class="layui-btn layui-btn-xs" lay-event="addFinance">添加融资条目</a>
            {{#  }

            else if(d.project_pass_status == 'FQJDBG_CZJD'){ }}
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="">已立项</a>
            <a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="">成长阶段变更申请已发起</a>
            <a class="layui-btn layui-btn-xs" lay-event="addFinance">添加融资条目</a>
            {{#  }

            else if(d.project_pass_status == 'CXJDBG_DBSJYAP'){ }}
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="">已立项</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="checkCXDBSJ">答辩时间已安排</a>
            <a class="layui-btn layui-btn-xs" lay-event="addFinance">添加融资条目</a>
            {{#  }

            else if(d.project_pass_status == 'CZJDBG_DBSJYAP'){ }}
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="">创新阶段</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="checkCZDBSJ">答辩时间已安排</a>
            <a class="layui-btn layui-btn-xs" lay-event="addFinance">添加融资条目</a>
            {{#  }

            else if(d.project_pass_status == 'LXSQBTG'){ }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="">立项未通过</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs " lay-event="del">删除</a>
            {{#  }

            else if(d.project_current_JD == '创新阶段'){ }}
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="">创新阶段</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="JDBG_CZJD">申请阶段变更至成长阶段</a>
            <a class="layui-btn layui-btn-xs" lay-event="addFinance">添加融资条目</a>
            {{#  }

            else if(d.project_current_JD == '成长阶段'){ }}
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="">成长阶段</a>
            <a class="layui-btn layui-btn-xs" lay-event="addFinance">添加融资条目</a>
            {{#  }
            }}

        </script>
    </div>

    <!--底部-->
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <script src="/projectDeclaration/projectDeclarationList.js"></script>
    <script src="/js/getCookies.js"></script>
    <script src="/js/message/message.js"></script>
    <script>
        window.onload = function () {
            if(getCookie("studentStatus")=="1"){
                document.getElementById("projectApply").style.display = "";
            }else{
                document.getElementById("showInfo").style.display = "";
            }
        }

        var pdf1 = "";
        var pdf2 = "";
        layui.use('upload', function(){
            var upload = layui.upload;
            //执行实例
            upload.render({
                elem: '#uploadButton1' //绑定元素
                ,url: '/upload/noticeFileUpload' //上传接口
                ,method: 'post'
                ,accept: 'file'
                ,exts: 'pdf'
                ,done: function(res){

                    document.getElementById("previewButton1").style.display='';
                    pdf1 = res.fileUrl;
                    $("#projectApplyTable").val(res.fileUrl);

                }
                ,error: function(){
                    alert("failed");
                    //请求异常回调
                }
            });

            upload.render({
                elem: '#uploadButton2' //绑定元素
                ,url: '/upload/noticeFileUpload' //上传接口
                ,method: 'post'
                ,accept: 'file'
                ,exts: 'pdf'
                ,done: function(res){

                    document.getElementById("previewButton2").style.display='';
                    pdf2 = res.fileUrl;
                    $("#projectPlanningBook").val(res.fileUrl);

                }
                ,error: function(){
                    alert("failed");
                    //请求异常回调
                }
            });

            upload.render({
                elem: '#JDBGApplyUploadButton' //绑定元素
                ,url: '/upload/noticeFileUpload' //上传接口
                ,method: 'post'
                ,accept: 'file'
                ,done: function(res){
                    $("#project_JDBG_SQFJ").val(res.fileUrl);

                }
                ,error: function(){
                    alert("failed");
                    //请求异常回调
                }
            });
        });
        function picPreview1() {
            var uul = pdf1;
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    title: '工作证明信息',
                    type: 2,
                    area: ['1000px', '950px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: uul
                    //
                });
            });
        }
        function picPreview2() {
            var uul = pdf2;
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    title: '学校证明信息',
                    type: 2,
                    area: ['1000px', '950px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: uul
                    //
                });
            });
        }
        $(function() {
            //日期选择框
            layui.use(['form', 'laydate'], function () {
                var form = layui.form, layer = layui.layer
                    , laydate = layui.laydate;
                //日期
                laydate.render({
                    elem: '#startTime'
                });

                laydate.render({
                    elem: '#endTime'
                });

                laydate.render({
                    elem: '#finance_get_time'
                });

            });

        });
        function back2Home() {
            location.href = "/home";

        }

        function pdfPreview(obj) {
            var uul = $(obj).val();
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    title: '查看文件',
                    type: 2,
                    area: ['1000px', '950px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: uul
                    //
                });
            });
        }
    </script>


</div>

</body>
</html>