<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='个人测试结果管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header" class="no-print"></div>
    <a id="checkThat" style="display: none"><shiro:principal property="roleId"></shiro:principal></a>
    <a id="userId" style="display: none"><shiro:principal property="id"></shiro:principal></a>
    <a id="userName" style="display: none"><shiro:principal property="sysUserName"></shiro:principal></a>
    <a id="primaryKey" style="display: none"></a>

    <div id="addInvestment" class="layer_self_wrap" style="display:none; ">
        <form id="addInvestmentForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <blockquote class="layui-elem-quote">发布融资信息</blockquote>
            <input type="hidden" id="main_turn" name="main_turn"/>
            <input type="hidden" id="investment_field" name="investment_field"/>
            <input id="investor_id" name="investor_id" type="hidden"/>
            <input id="platform_user_name" name="platform_user_name" type="hidden"/>
            <input id="id" name="id" type="hidden"/>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">投资人姓名</label>
                <div class="layui-input-block">
                    <input id="investor_name" name="investor_name" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">所属公司</label>
                <div class="layui-input-block">
                    <input id="belong_company" name="belong_company" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">投资人职位</label>
                <div class="layui-input-block">
                    <input id="investor_position" name="investor_position" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">工作年数</label>
                <div class="layui-input-block">
                    <input id="investor_work_years" name="investor_work_years" lay-verify="required|workYears" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">所在省份</label>
                <div class="layui-input-block">
                    <select name="belong_province" lay-verify="required">
                        <option value="">请选择所在省份</option>
                        <option value="北京市">北京市</option>
                        <option value="天津市">天津市</option>
                        <option value="河北省">河北省</option>
                        <option value="山西省">山西省</option>
                        <option value="内蒙古自治区">内蒙古自治区</option>
                        <option value="辽宁省">辽宁省</option>
                        <option value="黑龙江省">黑龙江省</option>
                        <option value="上海市">上海市</option>
                        <option value="江苏省">江苏省</option>
                        <option value="浙江省">浙江省</option>
                        <option value="安徽省">安徽省</option>
                        <option value="福建省">福建省</option>
                        <option value="江西省">江西省</option>
                        <option value="河南省">河南省</option>
                        <option value="山东省">山东省</option>
                        <option value="湖北省">湖北省</option>
                        <option value="湖南省">湖南省</option>
                        <option value="广东省">广东省</option>
                        <option value="广西壮族自治区">广西壮族自治区</option>
                        <option value="海南省">海南省</option>
                        <option value="重庆市">重庆市</option>
                        <option value="四川省">四川省</option>
                        <option value="贵州省">贵州省</option>
                        <option value="云南省">云南省</option>
                        <option value="西藏自治区">西藏自治区</option>
                        <option value="陕西省">陕西省</option>
                        <option value="甘肃省">甘肃省</option>
                        <option value="青海省">青海省</option>
                        <option value="宁夏回族自治区">宁夏回族自治区</option>
                        <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                        <option value="台湾省">台湾省</option>
                        <option value="香港特别行政区">香港特别行政区</option>
                        <option value="澳门特别行政区">澳门特别行政区</option>

                    </select>
<!--                    <input id="belong_province" name="belong_province" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>-->
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">主投项目阶段</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="main_turn_checkbox" title="立项阶段" value="立项阶段">
                    <input type="checkbox" name="main_turn_checkbox" title="创新阶段" value="创新阶段">
                    <input type="checkbox" name="main_turn_checkbox" title="成长阶段" value="成长阶段">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"><b>投资领域</b></label>
                <div class="layui-input-block">
                    <input type="checkbox" name="investment_field_checkbox" title="农、林、牧、渔业" value="农、林、牧、渔业">
                    <input type="checkbox" name="investment_field_checkbox" title="采矿业" value="采矿业">
                    <input type="checkbox" name="investment_field_checkbox" title="制造业" value="制造业">
                    <input type="checkbox" name="investment_field_checkbox" title="水、电、热力、燃气生产及供应" value="水、电、热力、燃气生产及供应">
                    <input type="checkbox" name="investment_field_checkbox" title="建筑业" value="建筑业">
                    <input type="checkbox" name="investment_field_checkbox" title="批发和零售业" value="批发和零售业">
                    <input type="checkbox" name="investment_field_checkbox" title="交通运输、仓储和物流业" value="交通运输、仓储和物流业">
                    <input type="checkbox" name="investment_field_checkbox" title="住宿和餐饮业" value="住宿和餐饮业">
                    <input type="checkbox" name="investment_field_checkbox" title="信息技术服务业" value="信息技术服务业">
                    <input type="checkbox" name="investment_field_checkbox" title="金融业" value="金融业">
                    <input type="checkbox" name="investment_field_checkbox" title="房地产业" value="房地产业">
                    <input type="checkbox" name="investment_field_checkbox" title="租赁和商务服务业" value="租赁和商务服务业">
                    <input type="checkbox" name="investment_field_checkbox" title="科学技术服务业" value="科学技术服务业">
                    <input type="checkbox" name="investment_field_checkbox" title="水利、环境和公共设施管理" value="水利、环境和公共设施管理">
                    <input type="checkbox" name="investment_field_checkbox" title="居民服务、修理和其他服务业" value="居民服务、修理和其他服务业">
                    <input type="checkbox" name="investment_field_checkbox" title="教育" value="教育">
                    <input type="checkbox" name="investment_field_checkbox" title="医疗和社会工作" value="医疗和社会工作">
                    <input type="checkbox" name="investment_field_checkbox" title="文化、体育和娱乐业" value="文化、体育和娱乐业">
                </div>
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label " style="width: 200px">单笔投资额度</label>
                <div class="layui-input-inline">
                    <input id="single_investment_start" name="" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline">
                    <input id="single_investment_end" name="" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <div class="layui-form-mid">（万元）</div>
                <input id="single_investment" name="single_investment" type="hidden"/>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">个人简介</label>
                <div class="layui-input-block">
                    <textarea id="personal_introduction"  name="personal_introduction"  class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">机构名称（公司名）</label>
                <div class="layui-input-block">
                    <input id="organization_name" name="organization_name" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">机构所在省份</label>
                <div class="layui-input-block">
                    <select name="organization_location" lay-verify="required">
                        <option value="">请选择所在省份</option>
                        <option value="北京市">北京市</option>
                        <option value="天津市">天津市</option>
                        <option value="河北省">河北省</option>
                        <option value="山西省">山西省</option>
                        <option value="内蒙古自治区">内蒙古自治区</option>
                        <option value="辽宁省">辽宁省</option>
                        <option value="黑龙江省">黑龙江省</option>
                        <option value="上海市">上海市</option>
                        <option value="江苏省">江苏省</option>
                        <option value="浙江省">浙江省</option>
                        <option value="安徽省">安徽省</option>
                        <option value="福建省">福建省</option>
                        <option value="江西省">江西省</option>
                        <option value="河南省">河南省</option>
                        <option value="山东省">山东省</option>
                        <option value="湖北省">湖北省</option>
                        <option value="湖南省">湖南省</option>
                        <option value="广东省">广东省</option>
                        <option value="广西壮族自治区">广西壮族自治区</option>
                        <option value="海南省">海南省</option>
                        <option value="重庆市">重庆市</option>
                        <option value="四川省">四川省</option>
                        <option value="贵州省">贵州省</option>
                        <option value="云南省">云南省</option>
                        <option value="西藏自治区">西藏自治区</option>
                        <option value="陕西省">陕西省</option>
                        <option value="甘肃省">甘肃省</option>
                        <option value="青海省">青海省</option>
                        <option value="宁夏回族自治区">宁夏回族自治区</option>
                        <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                        <option value="台湾省">台湾省</option>
                        <option value="香港特别行政区">香港特别行政区</option>
                        <option value="澳门特别行政区">澳门特别行政区</option>
                    </select>
<!--                    <input id="organization_location" name="organization_location" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>-->
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label ">机构资金规模（万元）</label>
                <div class="layui-input-block">
                    <input id="organization_ZJGM" name="organization_ZJGM" lay-verify="required|JGZJGM" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">机构简介</label>
                <div class="layui-input-block">
                    <textarea id="organization_introduction"  name="organization_introduction"  class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 40%;">
                    <button class="layui-btn"  lay-submit="" lay-filter="addInvestmentSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>


    <div id="testResultListFather" class="layui-body" style="margin: 1%">
        <hr class="layui-bg-green"/>
        <button  class="layui-btn"  onclick="back2Home();">返回我的主页</button>
        <button  class="layui-btn"  onclick="addInvestment();" id="addInvestmentButton">发布融资信息</button>

        <table id="personalInvestment" lay-filter="personalInvestmentTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">修改</a>
            <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>

    <!--底部-->
    <script src="/investotFinance/personalInvestmentList.js"></script>
    <script src="/js/getCookies.js"></script>
    <script src="/js/MyVerifyJS.js"></script>

    <script>

        $(function() {
            //日期选择框
            layui.use(['form', 'laydate'], function () {
                var form = layui.form, layer = layui.layer
                    , laydate = layui.laydate;
                //日期
                laydate.render({
                    elem: '#project_LX_DBSJ'
                });
                laydate.render({
                    elem: '#project_CXJD_DBSJ'
                });
                laydate.render({
                    elem: '#project_CZJD_DBSJ'
                });

            });

        });
        function back2Home() {
            location.href = "/home";

        }
    </script>
</div>

</body>
</html>