<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='大学生创业服务平台'">
    <link rel="stylesheet" href="/css/index.css"></link>
<body style="">
<!-- nav部分 -->
    <div class="nav index">
        <div th:include="nav :: copyNav"></div>
    </div>

    <div class="layui-container" style="top: 120px">
        <form id="SearchForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 0px;">
            <div class="layui-form-item" style="margin-left: 25%">
                <div class="layui-input-inline" style="width: 527px;">
                    <input id="noticeName" name="noticeName" placeholder="请输入投资人/投资机构名称" autocomplete="off" class="layui-input" type="text" style="height: 50px;font-size: 16px"/>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn"  lay-submit="" lay-filter="---" style="width:100px; height: 50px; font-size: 16px">查询</button>
                </div>
            </div>
            <div class="layui-form-item">
            </div>
        </form>

        <table id="financeInfo" lay-filter="financeInfoTable"></table>
    </div>



<script src="/financeInfo/financeInfo.js"></script>



</body>
</html>