<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='大学生创业服务平台'">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>
    <a id="userId" style="display: none"><shiro:principal property="id"></shiro:principal></a>
    <a id="roleId" style="display: none"><shiro:principal property="roleId"></shiro:principal></a>

    <!--身份认证弹窗-->
    <div id="identityConfirm" style="display: none; ">
        <form id="studentForm" class="layui-form layui-form-pane" method="post" action="" >

            <div class="layui-row layui-form-item" style="">
                <input id="id" type="hidden" name="id"/>
                <div class=" layui-col-xs6" >
                    <label class="layui-form-label">学生证</label>
                    <div class="layui-input-block">
                        <input type="text" id="studentConfirm" name="studentConfirm" lay-verify="required"  placeholder="学生证照片,大小不超过80kb" autocomplete="off" class="layui-input" readonly>
                    </div>
                </div>

                <div class=" layui-col-xs6" >
                    <button type="button" class="layui-btn" id="uploadButton1">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>

                    <button type="button" class="layui-btn" id="previewButton1" style="display: none" onclick="picPreview1()">
                        <i class="layui-icon">&#xe67c;</i>预览图片
                    </button>
                </div>
            </div>

            <div class="layui-row layui-form-item">
                <div class=" layui-col-xs6" >
                    <label class="layui-form-label">身份证正面</label>
                    <div class="layui-input-block">
                        <input type="text" id="SFZZM" name="SFZZM" lay-verify="required"  placeholder="身份证正面照片,大小不超过80kb" autocomplete="off" class="layui-input" readonly>
                    </div>
                </div>

                <div class=" layui-col-xs6" >
                    <button type="button" class="layui-btn" id="uploadButton2">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>

                    <button type="button" class="layui-btn" id="previewButton2" style="display: none" onclick="picPreview2()">
                        <i class="layui-icon">&#xe67c;</i>预览图片
                    </button>
                </div>
            </div>

            <div class="layui-row layui-form-item">
                <div class=" layui-col-xs6" >
                    <label class="layui-form-label">身份证背面</label>
                    <div class="layui-input-block">
                        <input type="text" id="SFZBM" name="SFZBM" lay-verify="required"  placeholder="身份证背面照片,大小不超过80kb" autocomplete="off" class="layui-input" readonly>
                    </div>
                </div>

                <div class=" layui-col-xs6" >
                    <button type="button" class="layui-btn" id="uploadButton3">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>

                    <button type="button" class="layui-btn" id="previewButton3" style="display: none" onclick="picPreview3()">
                        <i class="layui-icon">&#xe67c;</i>预览图片
                    </button>
                </div>
            </div>

            <div class="layui-form-item" style="text-align: center;">
                <div class="layui-input-block" style="margin: 0 auto;">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="mysubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        <div id="loading" style="position: absolute; margin-left: 46%;margin-top: -15%; display: none">
            <img src="../images/loading.gif">
        </div>
    </div>

    <!--主体区域-->
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-container">
                    <div class="main-product" style="margin-top: -90px">
                        <p class="title" style="margin-left: -900px">
                            <shiro:principal property="sysUserName"></shiro:principal>，欢迎登录
                            <span>大学生创业服务平台</span>
                        </p>

                        <p id="admin" class="title" style="display: none; margin-bottom: -100px; margin-top: -100px">
                            <span>平台相关数据统计概览</span>
                        </p>

                        <!--学生用户可见身份核验块-->
                        <div class="layui-col-sm6 layui-col-md3" style="margin-top: -50px; margin-left: -155px; display: none" id="checkTab">
                            <div class="content">
                                <div><img src="/images/Bat-Man.png"></div>
                                <div>
                                    <p style="margin-top: 15px" id="studentStatusInfo"></p>
                                </div>
                                <a href="javascript:;" id="statusLink" onclick=openStudentInfoInsert();>认证身份></a>
                            </div>
                        </div>
                    </div>

                    <div id="dataAnalysis" style="display: none">
                        <div class="layui-col-sm6 layui-col-md3" style="width: 450px; height: 450px; margin-left: -150px; margin-top: -100px">
                            <canvas id="membersAnalysis"></canvas><br>
                            <p style="margin-left: 170px">平台用户分布图</p>
                        </div>

                        <div class="layui-col-sm6 layui-col-md3" style="width: 450px; height: 450px;  margin-top: -100px;">
                            <canvas id="investorProvinceFB"></canvas><br>
                            <p style="margin-left: 160px">投资方所在省份分布图</p>
                        </div>

                        <div class="layui-col-sm6 layui-col-md3" style="width: 450px; height: 450px;  margin-top: -100px;">
                            <canvas id="ProjectBelongSchool"></canvas><br>
                            <p style="margin-left: 160px">各学校创业项目分布图</p>
                        </div>

                        <div class="layui-col-xs6" style="width: 800px; height: 350px;   margin-top: -100px;">
                            <canvas id="CompanyTZProjectNums"></canvas><br>
<!--                            <p style="margin-left: 160px">投资方投资项目（个）</p>-->
                        </div>

                        <div  class="layui-col-xs6" style="width: 800px; height: 350px;   margin-top: 200px;">
                            <canvas id="InvestmentType"></canvas><br>
<!--                            <p style="margin-left: 160px">各融资阶段项目数（个）</p>-->
                        </div>

                        <div class="layui-col-xs6" style="width: 800px; height: 350px;  margin-top: 200px;">
                            <canvas id="InvestmentJDAvgMoney"></canvas><br>
<!--                            <p style="margin-left: 160px">各融资阶段平均融资金额（万）</p>-->
                        </div>
                    </div>

                    <div id="dataAnalysis2">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/error.js"></script>
    <script src="/js/sysUser/userList.js"></script>
    <script src="/js/getCookies.js"></script>
    <script src="/js/home/Chart.js"></script>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script>
        window.onload=function () {
            var userId = document.getElementById("userId").innerText;
            var roleId = document.getElementById("roleId").innerText;
            console.log(userId);console.log(roleId);
            if(roleId == '2') {
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    data: {"userId": userId},
                    url: "/check/checkStudentStatus",
                    success: function (data) {
                        if(getCookie("studentStatus")=="1"){
                            document.getElementById("checkTab").style.display = '';
                            document.getElementById("studentStatusInfo").innerText = "您的学生身份已经过验证，您可以使用本系统的创业项目管理功能。";
                            document.getElementById("statusLink").style.display = 'none';
                        }else if(getCookie("studentStatus")=="0"){
                            document.getElementById("checkTab").style.display = '';
                            document.getElementById("studentStatusInfo").innerText = "您还未进行学生身份认证，点击链接立即认证，解锁系统更多功能。";
                            document.getElementById("statusLink").style.display = '';
                        }else if(getCookie("studentStatus")=="3"){
                            document.getElementById("checkTab").style.display = '';
                            document.getElementById("studentStatusInfo").innerText = "您的身份认证审核结果为：不通过。审核意见："+data.verifyDetail+"。您可点击下方链接重新提交审核申请。";
                        }else {
                            document.getElementById("checkTab").style.display = '';
                            document.getElementById("studentStatusInfo").innerText = "您已提交身份审核信息，正在审核中。";
                            document.getElementById("statusLink").style.display = '';
                            document.getElementById("statusLink").innerText = "审核中...";
                            document.getElementById("statusLink").onclick = "";
                        }
                    }
                })
            }

            if(roleId == '1'){
                document.getElementById("dataAnalysis").style.display = '';
                document.getElementById("admin").style.display = '';
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "/analysis/platformMembers",
                    success: function (data) {
                        var ctx = document.getElementById('membersAnalysis');
                        var membersData = {
                            datasets: [{
                                data: [data.students, data.schools, data.companies],
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(54, 162, 235)',
                                    'rgb(255, 206, 86)'
                                ]
                            }],
                            labels: [
                                '学生',
                                '学校',
                                '投资方'
                            ]

                        };
                        var myDoughnutChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: membersData
                        });


                    }
                })

                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "/analysis/investorProvince",
                    success: function (data) {
                        var province = [];
                        var nums = [];
                        for(var i=0; i<data.length; i++){
                            province.push(data[i].province);
                            nums.push(data[i].nums);
                        }
                        console.log(province);
                        console.log(nums);
                        var ctx = document.getElementById('investorProvinceFB');
                        var provinceData = {
                            datasets: [{
                                data: nums,
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(54, 162, 235)',
                                    'rgb(255, 206, 86)',
                                    'rgb(0, 153, 36)',
                                    'rgb(60, 63, 65)',
                                    'rgb(152, 118, 170)',
                                    'rgb(199, 84, 80)'
                                ]
                            }],
                            labels: province

                        };
                        var myDoughnutChart = new Chart(ctx, {
                            type: 'pie',
                            data: provinceData
                        });
                    }
                })

                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "/analysis/ProjectBelongSchool",
                    success: function (data) {
                        var school = [];
                        var nums = [];
                        for(var i=0; i<data.length; i++){
                            school.push(data[i].school);
                            nums.push(data[i].nums);
                        }
                        var ctx = document.getElementById('ProjectBelongSchool');
                        var projectData = {
                            datasets: [{
                                data: nums,
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(54, 162, 235)',
                                    'rgb(255, 206, 86)',
                                    'rgb(0, 153, 36)',
                                    'rgb(60, 63, 65)',
                                    'rgb(152, 118, 170)',
                                    'rgb(199, 84, 80)'
                                ]
                            }],
                            labels: school

                        };
                        var myDoughnutChart = new Chart(ctx, {
                            type: 'polarArea',
                            data: projectData
                        });
                    }
                })

                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "/analysis/CompanyTZProjectNums",
                    success: function (data) {
                        var company = [];
                        var nums = [];
                        for(var i=0; i<data.length; i++){
                            company.push(data[i].company);
                            nums.push(data[i].nums);
                        }
                        var ctx = document.getElementById('CompanyTZProjectNums');
                        var provinceData = {
                            datasets: [{
                                data: nums,
                                barPercentage: 0.5,
                                backgroundColor: [
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)',
                                    'rgb(255, 206, 86)'
                                ],
                                label: '投资方投资项目（个）'
                            }],
                            labels: company

                        };
                        var myDoughnutChart = new Chart(ctx, {
                            type: 'bar',
                            data: provinceData,
                            options: {
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            offsetGridLines: true
                                        }
                                    }],
                                    yAxes: [
                                        {
                                            ticks: {
                                                min: 0,  //最小值
                                            },
                                            display: true
                                        }
                                    ]
                                }
                            }
                        });
                    }
                })

                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "/analysis/InvestmentType",
                    success: function (data) {
                        var investmentType = [];
                        var nums = [];
                        for(var i=0; i<data.length; i++){
                            investmentType.push(data[i].investmentType);
                            nums.push(data[i].nums);
                        }
                        var ctx = document.getElementById('InvestmentType');
                        var investmentTypeData = {
                            datasets: [{
                                data: nums,
                                barPercentage: 0.5,
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 99, 132)'
                                ],
                                label: '各融资阶段项目数（个）'
                            }],
                            labels: investmentType

                        };
                        var myDoughnutChart = new Chart(ctx, {
                            type: 'horizontalBar',
                            data: investmentTypeData,
                            options: {
                                scales: {
                                    yAxes: [{
                                        gridLines: {
                                            offsetGridLines: true
                                        }
                                    }],
                                    xAxes: [
                                        {
                                            ticks: {
                                                min: 0,  //最小值
                                            },
                                            display: true
                                        }
                                    ]
                                }
                            }
                        });
                    }
                })

                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "/analysis/InvestmentJDAvgMoney",
                    success: function (data) {
                        var investmentType = [];
                        var money = [];
                        for(var i=0; i<data.length; i++){
                            investmentType.push(data[i].investmentType);
                            money.push(data[i].money);
                        }
                        var ctx = document.getElementById('InvestmentJDAvgMoney');
                        var InvestmentJDAvgMoneyData = {
                            datasets: [{
                                data: money,
                                label: '各融资阶段平均融资金额（万）',
                            }],
                            labels: investmentType

                        };
                        var myDoughnutChart = new Chart(ctx, {
                            type: 'line',
                            data: InvestmentJDAvgMoneyData,
                            options: {
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            offsetGridLines: true
                                        }
                                    }],
                                    yAxes: [
                                        {
                                            ticks: {
                                                min: 0,  //最小值
                                            },
                                            display: true
                                        }
                                    ]
                                }
                            }
                        });
                    }
                })

            }
        }

    </script>
    <script>
        var pdf1 = "";
        var pdf2 = "";
        var pdf3 = "";
        var realPdf1 = "";
        var realPdf2 = "";
        var realPdf3 = "";
        layui.use('upload', function(){
            var upload = layui.upload;

            //学生证照片上传
            upload.render({
                elem: '#uploadButton1' //绑定元素
                ,url: '/upload/identifyConfirmFileUpload' //上传接口
                ,method: 'post'
                ,size: 80
                ,before:function () {
                    document.getElementById("loading").style.display = "";
                }
                ,done: function(res){
                    document.getElementById("loading").style.display = "none";
                    document.getElementById("previewButton1").style.display='';
                    pdf1 = res.fileUrl;
                    realPdf1 = pdf1.replace("/identifyConfirmFile","F:/identifyConfirmFile");
                    $("#studentConfirm").val(res.fileUrl);

                }
                ,error: function(){
                    document.getElementById("loading").style.display = "none";
                    alert("failed");
                    //请求异常回调
                }
            });

            //身份证正面
            upload.render({
                elem: '#uploadButton2' //绑定元素
                ,url: '/upload/identifyConfirmFileUpload' //上传接口
                ,method: 'post'
                ,size: 80
                ,before:function () {
                    document.getElementById("loading").style.display = "";
                }
                ,done: function(res){
                    document.getElementById("loading").style.display = "none";

                    document.getElementById("previewButton2").style.display='';
                    pdf2 = res.fileUrl;
                    realPdf2 = pdf2.replace("/identifyConfirmFile","F:/identifyConfirmFile");
                    $("#SFZZM").val(res.fileUrl);

                }
                ,error: function(){
                    document.getElementById("loading").style.display = "none";
                    alert("failed");
                    //请求异常回调
                }
            });

            //身份证背面
            upload.render({
                elem: '#uploadButton3' //绑定元素
                ,url: '/upload/identifyConfirmFileUpload' //上传接口
                ,method: 'post'
                ,size: 80
                ,before: function () {
                    document.getElementById("loading").style.display = "";
                }
                ,done: function(res){
                    document.getElementById("loading").style.display = "none";
                    document.getElementById("previewButton3").style.display='';
                    pdf3 = res.fileUrl;
                    realPdf3 = pdf3.replace("/identifyConfirmFile","F:/identifyConfirmFile");
                    $("#SFZBM").val(res.fileUrl);

                }
                ,error: function(){
                    document.getElementById("loading").style.display = "none";
                    alert("failed");
                    //请求异常回调
                }
            });
        });
        function picPreview1() {
            document.getElementById("loading").style.display = "";
            $.ajax({
                type: "POST",
                data: {"encFile":realPdf1},
                url: "/upload/decFile",
                async: true,
                success: function (res) {
                    document.getElementById("loading").style.display = "none";
                    var uul = res.fileurl;
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            title: '证明信息',
                            type: 2,
                            area: ['1000px', '950px'],
                            fixed: false, //不固定
                            maxmin: true,
                            content: uul,
                            end: function () {
                                var realDecFile = uul.replace("/identifyConfirmFile","F:/identifyConfirmFile");
                                $.ajax({
                                    type: "POST",
                                    data: {"decFile":realDecFile},
                                    url: "/upload/encFile",
                                    async: true,
                                });

                            }
                            //
                        });
                    });
                },

            });

        }

        function picPreview2() {
            document.getElementById("loading").style.display = "";
            $.ajax({
                type: "POST",
                data: {"encFile":realPdf2},
                url: "/upload/decFile",
                async: true,
                success: function (res) {
                    document.getElementById("loading").style.display = "none";
                    var uul = res.fileurl;
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            title: '证明信息',
                            type: 2,
                            area: ['1000px', '950px'],
                            fixed: false, //不固定
                            maxmin: true,
                            content: uul,
                            end: function () {
                                var realDecFile = uul.replace("/identifyConfirmFile","F:/identifyConfirmFile");
                                $.ajax({
                                    type: "POST",
                                    data: {"decFile":realDecFile},
                                    url: "/upload/encFile",
                                    async: true,
                                });

                            }
                            //
                        });
                    });
                },

            });
        }

        function picPreview3() {
            document.getElementById("loading").style.display = "";
            $.ajax({
                type: "POST",
                data: {"encFile":realPdf3},
                url: "/upload/decFile",
                async: true,
                success: function (res) {
                    document.getElementById("loading").style.display = "none";
                    var uul = res.fileurl;
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            title: '证明信息',
                            type: 2,
                            area: ['1000px', '950px'],
                            fixed: false, //不固定
                            maxmin: true,
                            content: uul,
                            end: function () {
                                var realDecFile = uul.replace("/identifyConfirmFile","F:/identifyConfirmFile");
                                $.ajax({
                                    type: "POST",
                                    data: {"decFile":realDecFile},
                                    url: "/upload/encFile",
                                    async: true,
                                });

                            }
                            //
                        });
                    });
                },

            });
        }

        function openStudentInfoInsert() {
            layer.open({
                type: 1 //此处以iframe举例
                , title: '身份认证'
                , area: ['750px','350px']
                , shade: 0
                , maxmin: false
                , offset: ['200px']
                , content: $("#identityConfirm")
                , btn: ['关闭'] //只是为了演示
                , btn2: function () {
                    layer.closeAll();
                }
                ,end: function () {
                    //弹窗关闭后清空原输入框的值
                    $("#studentConfirm").val("");
                    $("#SFZZM").val("");
                    $("#SFZBM").val("");
                    //弹窗关闭后隐藏【预览图片】按钮
                    document.getElementById("previewButton1").style.display='none';
                    document.getElementById("previewButton2").style.display='none';
                    document.getElementById("previewButton3").style.display='none';

                }
            });
        }


    </script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function(){
            var form = layui.form
                ,layer = layui.layer

            //监听提交
            form.on('submit(mysubmit)', function(data){
                var userId = document.getElementById("userId").innerText;
                document.getElementById("id").value = userId;
                $.ajax({
                    type: "POST",
                    data: $("#studentForm").serialize(),
                    url: "/check/updateBaseStudent",
                    success: function (data) {
                        if (data.code == 1) {
                            layer.closeAll();
                            layer.msg("身份信息已提交，等待审核");
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            layer.alert(data.msg);
                        }
                    },
                });
                return false;
            });

        });
    </script>
</div>
</body>
</html>