<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='大学生创业服务平台'">

    <link rel="stylesheet" type="text/css" href="/css/xf/nav.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <script type="text/javascript" src="js/xf/nav.js"></script>

<body>
<div class="leftNav-item" th:fragment="navLeft">
    <ul>
<!--        <li>-->
<!--            <i class="fa fa-location-arrow"></i>-->
<!--            <a href="javascript:void(0)" class="rota">业务合作</a>-->
<!--        </li>-->
<!--        <li title="在线客服">-->
<!--            <i class="fa fa-comments-o"></i>-->
<!--            <a href="javascript:void(0)"class="rota">在线客服</a>-->
<!--        </li>-->
        <li title="返回顶部" class="for-top" style="margin-top: 75px">
            <i class="fa fa-arrow-up"></i>
            <a href="javascript:;" class="rota">去顶部</a>
        </li>
    </ul>
</div>
</body>

</html>