<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='企业申请界面'">
    <link rel="stylesheet" href="/css/index.css"></link>
<body>
<!-- nav部分 -->
<div class="nav index">
    <div th:include="nav :: copyNav"></div>
</div>
<div class="layui-container" style="top: 200px">
<div class="layui-row"  style="position:absolute; top:150px; left:50%; margin:-199px 0 0 -30px;"> <!--  style="position:absolute; top:30%; left:47%; margin:-120px 0 0 -30px;"  -->
    <h1 style="text-align: center">企业申请使用</h1>
</div>
<div class="layui-row"  > <!--  style="position:absolute; top:42%; left:50%; margin:-170px 0 0 -150px;"  -->
    <form id="companyRegForm" class="layui-form layui-form-pane" method="post" action="" >

        <div class="layui-form-item" >
            <label class="layui-form-label">公司注册名</label>
            <div class="layui-input-block">
                <input type="text" id="company_name" name="company_name" lay-verify="required" placeholder="请输入公司注册名称" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-block">
                <input type="text" id="company_contacts" name="company_contacts" lay-verify="required"  placeholder="请输入联系人姓名" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input type="text" id="company_contacts_phone" name="company_contacts_phone" lay-verify="phone"  placeholder="请输入联系人电话" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-row layui-form-item">
            <div class="layui-col-xs6" >
                <label class="layui-form-label">联系邮箱</label>
                <div class="layui-input-block">
                    <input type="text" id="company_contacts_email" name="company_contacts_email" lay-verify="email"  placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-col-xs6" >
                <label class="layui-form-label"><button type="button" class="layui-btn-xs layui-btn layui-btn-primary" onclick="createVerifyCode()"><b>获取验证码</b></button></label>
                <div class="layui-input-block">
                    <input type="text" id="verifyCode" name="" lay-verify="verifyCode"  placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label">所在行业</label>
            <div class="layui-input-block">
                <select name="company_industry">
                    <option value="">请选择所在行业</option>
                    <option value="农、林、牧、渔业">农、林、牧、渔业</option>
                    <option value="采矿业">采矿业</option>
                    <option value="制造业">制造业</option>
                    <option value="水、电、热力、燃气生产及供应">水、电、热力、燃气生产及供应</option>
                    <option value="建筑业">建筑业</option>
                    <option value="批发和零售业">批发和零售业</option>
                    <option value="交通运输、仓储和物流业">交通运输、仓储和物流业</option>
                    <option value="住宿和餐饮业">住宿和餐饮业</option>
                    <option value="信息技术服务业">信息技术服务业</option>
                    <option value="金融业">金融业</option>
                    <option value="房地产业">房地产业</option>
                    <option value="租赁和商务服务业">租赁和商务服务业</option>
                    <option value="科学技术服务业">科学技术服务业</option>
                    <option value="水利、环境和公共设施管理">水利、环境和公共设施管理</option>
                    <option value="居民服务、修理和其他服务业">居民服务、修理和其他服务业</option>
                    <option value="教育">教育</option>
                    <option value="医疗和社会工作">医疗和社会工作</option>
                    <option value="文化、体育和娱乐业">文化、体育和娱乐业</option>
                </select>
<!--                <input type="text" id="company_industry" name="company_industry" lay-verify="required"  placeholder="请输入公司所在行业" autocomplete="off" class="layui-input">-->
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label">所在省份</label>
            <div class="layui-input-block">
                <select name="company_location">
                    <option value="">请选择所在省份</option>
                    <option value="北京市">北京市</option>
                    <option value="天津市">天津市</option>
                    <option value="河北省">河北省</option>
                    <option value="山西省">山西省</option>
                    <option value="内蒙古自治区">内蒙古自治区</option>
                    <option value="辽宁省">辽宁省</option>
                    <option value="黑龙江省">黑龙江省</option>
                    <option value="上海市">上海市</option>
                    <option value="江苏省">江苏省</option>
                    <option value="浙江省">浙江省</option>
                    <option value="安徽省">安徽省</option>
                    <option value="福建省">福建省</option>
                    <option value="江西省">江西省</option>
                    <option value="河南省">河南省</option>
                    <option value="山东省">山东省</option>
                    <option value="湖北省">湖北省</option>
                    <option value="湖南省">湖南省</option>
                    <option value="广东省">广东省</option>
                    <option value="广西壮族自治区">广西壮族自治区</option>
                    <option value="海南省">海南省</option>
                    <option value="重庆市">重庆市</option>
                    <option value="四川省">四川省</option>
                    <option value="贵州省">贵州省</option>
                    <option value="云南省">云南省</option>
                    <option value="西藏自治区">西藏自治区</option>
                    <option value="陕西省">陕西省</option>
                    <option value="甘肃省">甘肃省</option>
                    <option value="青海省">青海省</option>
                    <option value="宁夏回族自治区">宁夏回族自治区</option>
                    <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                    <option value="台湾省">台湾省</option>
                    <option value="香港特别行政区">香港特别行政区</option>
                    <option value="澳门特别行政区">澳门特别行政区</option>

                </select>
<!--                <input type="text" id="company_location" name="company_location" lay-verify="required"  placeholder="请输入公司所在地（省份）" autocomplete="off" class="layui-input">-->
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label">公司规模</label>
            <div class="layui-input-block">
                <select name="company_staff_size">
                    <option value="">请选择所在行业</option>
                    <option value="1-10人">1-10人</option>
                    <option value="11-50人">11-50人</option>
                    <option value="51-100人">51-100人</option>
                    <option value="101-500人">101-500人</option>
                    <option value="501-1000人">501-1000人</option>
                    <option value="1001-2000人">1001-2000人</option>
                    <option value="2001-5000人">2001-5000人</option>
                    <option value="5001-10000人">5001-10000人</option>
                    <option value="10000人以上">10000人以上</option>
                </select>
<!--                <input type="text" id="company_staff_size" name="company_staff_size" lay-verify="required"  placeholder="请输入公司人员规模" autocomplete="off" class="layui-input">-->
            </div>
        </div>

        <div class="layui-form-item" >
            <label class="layui-form-label">公司介绍</label>
            <div class="layui-input-block">
                <textarea type="text" id="company_introduction" name="company_introduction" lay-verify="required"  placeholder="请输入公司简介" autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-row layui-form-item">
            <div class=" layui-col-xs6" >
                <label class="layui-form-label">营业执照</label>
                <div class="layui-input-block">
                    <input type="text" id="company_business_license" name="company_business_license" lay-verify="required"  placeholder="原件或带公章的复印件，文件大小不超过80kb" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>

            <div class=" layui-col-xs6" >
                <button type="button" class="layui-btn" id="uploadButton1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>

                <button type="button" class="layui-btn" id="previewButton1" style="display: none" onclick="picPreview1()">
                    <i class="layui-icon">&#xe67c;</i>预览图片
                </button>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block" style="margin: 0 auto;">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="mysubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <div id="loading" style="position: absolute; margin-left: 46%;margin-top: -15%; display: none">
        <img src="../images/loading.gif">
    </div>
</div>
</div>
<script src="/static/js/dateUtils.js"></script>
<script src="/static/js/sysUser/userList.js"></script>
<script src="/static/js/verifyCode.js"></script>
<script src="/js/MyVerifyJS.js"></script>
<script src="/js/publicJs.js"></script>
<script>
    var sended = false;
    var verifyed = false;
    var MainVerifyCode; //邮件验证码
    layui.use(['form', 'layedit', 'laydate','layer'], function(){
        var form = layui.form
            ,layer = layui.layer

        //监听提交整体表单
        form.on('submit(mysubmit)', function(data){
            if(sended == true && verifyed == true){
                $.ajax({
                    type: "POST",
                    data: $("#companyRegForm").serialize(),
                    url: "/user/regCompanyUser",
                    success: function (data) {
                        if (data.code == 1) {
                            layer.alert(data.msg,function(){
                                window.location.href=data.url;
                            });
                        } else {
                            layer.msg(data.msg,{icon:5,time:2000});
                        }
                    }
                });
            }else{

            }
            return false;
        });

    });

    //创建验证码，四位数字
    function createVerifyCode() {
        var email = document.getElementById("company_contacts_email").value;
        if(null != email && email!="" && new RegExp("^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\\.[a-zA-Z0-9-]+)*\\.[a-zA-Z0-9]{2,6}$").test(email)){
            var verifyCode = "";
            for (var i=0; i<4; i++){
                var randomNum = Math.floor(Math.random()*10);
                verifyCode = verifyCode + randomNum;

            }
            sendCode(verifyCode,email);
            sended = true;
        }else {
            layer.msg('请输入邮箱/邮箱格式不正确', {
                time: 3000, //3s后自动关闭
                icon: 2
            });
        }

    }

    //ajax请求后端发送邮件
    function sendCode(verifyCode,email) {
        document.getElementById("loading").style.display = "";
        $.ajax({
            type: "POST",
            dataType : 'json',
            data: {"verifyCode": verifyCode, "email": email},
            url: "/verifyCode/checkVerifyCode",
            success: function (data) {
                document.getElementById("loading").style.display = "none";
                if (data.code == 1) {
                    MainVerifyCode = verifyCode; //发送成功进行验证
                    layer.msg(data.msg,{icon:1,time:2000});
                } else {
                    document.getElementById("loading").style.display = "none";
                    layer.msg(data.msg,{icon:5,time:2000});
                }
            }
        })
    }
</script>
<script>
    var pdf1 = "";
    var realPdf1 = "";
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        upload.render({
            elem: '#uploadButton1' //绑定元素
            ,url: '/upload/identifyConfirmFileUpload' //上传接口
            ,method: 'post'
            ,size: 80
            ,done: function(res){

                document.getElementById("previewButton1").style.display='';
                pdf1 = res.fileUrl;
                realPdf1 = pdf1.replace("/identifyConfirmFile","F:/identifyConfirmFile");
                $("#company_business_license").val(res.fileUrl);

            }
            ,error: function(){
                alert("failed");
                //请求异常回调
            }
        });
    });
    function picPreview1() {
        $.ajax({
            type: "POST",
            data: {"encFile":realPdf1},
            url: "/upload/decFile",
            async: true,
            success: function (res) {
                var uul = res.fileurl;
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        title: '营业执照',
                        type: 2,
                        area: ['1000px', '950px'],
                        fixed: false, //不固定
                        maxmin: true,
                        content: uul,
                        end: function () {
                            var realDecFile = uul.replace("/identifyConfirmFile","F:/identifyConfirmFile");
                            $.ajax({
                                type: "POST",
                                data: {"decFile":realDecFile},
                                url: "/upload/encFile",
                                async: true,
                            });

                        }
                        //
                    });
                });
            },

        });
    }
</script>

</body>
</html>