<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='政策管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>
    <a id="checkThat" style="display: none"><shiro:principal property="roleId"></shiro:principal></a>

    <div id="policyListFather" class="layui-body" style="margin: 1%">

        <hr class="layui-bg-orange"/>

        <button class="layui-btn" onclick="openPolicyInsert()">新增政策</button>

        <table id="policyList" lay-filter="policyTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="previewFile">查看文件</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>


    <!--添加或编辑政策-->
    <div id="addPolicy" class="" style="display:none;">
        <form id="policyForm" class="layui-form layui-form-pane " method="post" action="" style="margin-top: auto; margin-left: auto;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label "><b>标题</b></label>
                <div class="layui-input-block">
                    <input id="policyTitle" name="policyTitle" lay-verify="required" autocomplete="off" class="layui-input" placeholder="政策标题" type="text"/>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" ><b>发布日期</b></label>
                <div class="layui-input-block">
                    <input id="policyDate" name="policyDate" lay-verify="required" autocomplete="off" class="layui-input" placeholder="发布日期" type="text" readonly/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" ><b>政策所在地</b></label>
                <div class="layui-input-block">
                    <select name="policyLocated" id="policyLocated" lay-verify="required" lay-search>
                        <option value="">请选择政策所在地</option>
                        <option value="全国" >全国</option>
                        <option value="福建" >福建</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" ><b>文件地址</b></label>
                <div class="layui-input-block">
                    <input id="policyUrl" name="policyUrl" lay-verify="required" autocomplete="off" class="layui-input" placeholder="文件地址" type="text" readonly/>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-upload-button">
                    <button type="button" class="layui-btn" id="uploadButton">
                        <i class="layui-icon">&#xe67c;</i>上传文件
                    </button>

                    <button type="button" class="layui-btn" id="previewButton" style="display: none" onclick="pdfsee()">
                        <i class="layui-icon">&#xe67c;</i>预览文件
                    </button>

                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 80px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="policySubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>


    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/policy/policyList.js"></script>
    <script>
        var pdf = "";
        layui.use(['form','table','upload','element'],function(){
            var upload = layui.upload;
            var element = layui.element;
            element.init();
            //执行实例
            upload.render({
                elem: '#uploadButton' //绑定元素
                ,url: '/upload/noticeFileUpload' //上传接口
                ,method: 'post'
                ,accept: 'file'
                ,progress: function(n, elem){
                    var percent = n + '%'; //获取进度百分比
                    element.progress('demo', percent); //可配合 layui 进度条元素使用
                    console.log(elem);
                }
                ,done: function(res){

                    document.getElementById("previewButton").style.display='';
                    pdf = res.fileUrl;
                    console.log(pdf);
                    $("#policyTitle").val(res.fileName);
                    $("#policyDate").val(res.fileDate);
                    $("#policyUrl").val(res.fileUrl);

                }
                ,error: function(){
                    alert("failed");
                    //请求异常回调
                }
            });
        });

        function pdfsee() {
            var uul = pdf;
            console.log(pdf);
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    type: 2,
                    area: ['1000px', '950px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: uul
                });
            });
        };

    </script>

</div>

</body>
</html>