<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangtang.manager.dao.BaseApplyMapper">
  <resultMap id="BaseResultMap" type="com.tangtang.manager.pojo.BaseSchoolApply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="keyid" jdbcType="INTEGER" property="keyid" />
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sys_user_name" jdbcType="VARCHAR" property="sysUserName" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="school_manager_name" jdbcType="VARCHAR" property="schoolManagerName" />
    <result column="school_manager_job" jdbcType="VARCHAR" property="schoolManagerJob" />
    <result column="school_manager_phone" jdbcType="VARCHAR" property="schoolManagerPhone" />
    <result column="school_manager_email" jdbcType="VARCHAR" property="schoolManagerEmail" />
    <result column="school_job_confirm" jdbcType="VARCHAR" property="jobConfirm" />
    <result column="school_confirm" jdbcType="VARCHAR" property="schoolConfirm" />
    <result column="apply_status" jdbcType="INTEGER" property="applyStatus" />
  </resultMap>

  <resultMap id="StudentResultMap" type="com.tangtang.manager.pojo.BaseStudent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sys_user_name" jdbcType="VARCHAR" property="userName" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="school_student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="school_student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="school_student_email" jdbcType="VARCHAR" property="studentEmail" />
    <result column="school_student_confirm_url" jdbcType="VARCHAR" property="studentConfirm" />
    <result column="school_student_SFZ_ZM" jdbcType="VARCHAR" property="SFZZM" />
    <result column="school_student_SFZ_BM" jdbcType="VARCHAR" property="SFZBM" />
    <result column="school_student_status" jdbcType="VARCHAR" property="studentStatus" />
    <result column="school_student_major" jdbcType="VARCHAR" property="studentMajor" />
  </resultMap>

  <sql id="baseColumn">
    keyid,
    id,
    sys_user_name,
    school_name,
    school_manager_name,
    school_manager_job,
    school_manager_phone,
    school_manager_email,
    school_job_confirm,
    school_confirm,
    apply_status
  </sql>

  <sql id="studentColumn">
    id,
    sys_user_name,
    school_name,
    school_student_id,
    school_student_name,
    school_student_email,
    school_student_confirm_url,
    school_student_SFZ_ZM,
    school_student_SFZ_BM,
    school_student_status,
    school_student_major
  </sql>

  <select id="getSchoolApplyList" resultMap="BaseResultMap">
    SELECT <include refid="baseColumn"/>
    FROM base_school
  </select>

  <select id="getStudentApplyList" resultMap="StudentResultMap">
    SELECT <include refid="studentColumn"/>
    FROM base_school
  </select>

</mapper>