<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangtang.manager.dao.BaseApplyMapper">
  <resultMap id="BaseResultMap" type="com.tangtang.manager.pojo.BaseSchoolApply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="keyid" jdbcType="INTEGER" property="keyid" />
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sys_user_name" jdbcType="VARCHAR" property="sysUserName" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="school_manager_name" jdbcType="VARCHAR" property="schoolManagerName" />
    <result column="school_manager_job" jdbcType="VARCHAR" property="schoolManagerJob" />
    <result column="school_manager_phone" jdbcType="VARCHAR" property="schoolManagerPhone" />
    <result column="school_manager_email" jdbcType="VARCHAR" property="schoolManagerEmail" />
    <result column="school_job_confirm" jdbcType="VARCHAR" property="jobConfirm" />
    <result column="school_confirm" jdbcType="VARCHAR" property="schoolConfirm" />
    <result column="apply_status" jdbcType="INTEGER" property="applyStatus" />
  </resultMap>

  <resultMap id="StudentResultMap" type="com.tangtang.manager.pojo.BaseStudent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sys_user_name" jdbcType="VARCHAR" property="userName" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="school_student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="school_student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="school_student_email" jdbcType="VARCHAR" property="studentEmail" />
    <result column="school_student_confirm_url" jdbcType="VARCHAR" property="studentConfirm" />
    <result column="school_student_SFZ_ZM" jdbcType="VARCHAR" property="SFZZM" />
    <result column="school_student_SFZ_BM" jdbcType="VARCHAR" property="SFZBM" />
    <result column="school_student_status" jdbcType="VARCHAR" property="studentStatus" />
    <result column="school_student_major" jdbcType="VARCHAR" property="studentMajor" />
    <result column="school_student_verify_detail" jdbcType="VARCHAR" property="verifyDetail" />
  </resultMap>

  <resultMap id="BaseCompanyResultMap" type="com.tangtang.manager.pojo.BaseCompany">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="company_name" jdbcType="VARCHAR" property="company_name" />
    <result column="company_contacts" jdbcType="VARCHAR" property="company_contacts" />
    <result column="company_contacts_phone" jdbcType="VARCHAR" property="company_contacts_phone" />
    <result column="company_contacts_email" jdbcType="VARCHAR" property="company_contacts_email" />
    <result column="company_industry" jdbcType="VARCHAR" property="company_industry" />
    <result column="company_location" jdbcType="VARCHAR" property="company_location" />
    <result column="company_staff_size" jdbcType="VARCHAR" property="company_staff_size" />
    <result column="company_introduction" jdbcType="VARCHAR" property="company_introduction" />
    <result column="company_business_license" jdbcType="VARCHAR" property="company_business_license" />
    <result column="apply_status" jdbcType="VARCHAR" property="apply_status" />
    <result column="apply_opinion" jdbcType="VARCHAR" property="apply_opinion" />
  </resultMap>

  <sql id="companyColumn">
    id,
    user_id,
    company_name,
    company_contacts,
    company_contacts_phone,
    company_contacts_email,
    company_industry,
    company_location,
    company_staff_size,
    company_introduction,
    company_business_license,
    apply_status,
    apply_opinion
  </sql>

  <sql id="baseColumn">
    keyid,
    id,
    sys_user_name,
    school_name,
    school_manager_name,
    school_manager_job,
    school_manager_phone,
    school_manager_email,
    school_job_confirm,
    school_confirm,
    apply_status
  </sql>

  <sql id="studentColumn">
    id,
    sys_user_name,
    school_name,
    school_student_id,
    school_student_name,
    school_student_email,
    school_student_confirm_url,
    school_student_SFZ_ZM,
    school_student_SFZ_BM,
    school_student_status,
    school_student_major,
    school_student_verify_detail
  </sql>

  <select id="getSchoolApplyList" resultMap="BaseResultMap">
    SELECT <include refid="baseColumn"/>
    FROM base_school
    limit #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <select id="getStudentApplyList" resultMap="StudentResultMap">
    SELECT <include refid="studentColumn"/>
    FROM base_student
    limit #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <select id="getCompanyApplyList" resultMap="BaseCompanyResultMap">
    SELECT <include refid="companyColumn"/>
    FROM base_company
    limit #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  
  <update id="verifyStudentApply">
    UPDATE base_student
    <set>
      school_student_status = #{studentStatus},
      school_student_verify_detail = #{verifyDetail}
    </set>
    <where>
      id = #{id}
    </where>
  </update>

</mapper>