<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangtang.manager.dao.BaseTestQuestionMapper">

    <resultMap id="BaseResultMap" type="com.tangtang.manager.pojo.BaseTestQuestion">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="test_question" jdbcType="VARCHAR" property="testQuestion" />
        <result column="test_answerA" jdbcType="VARCHAR" property="testAnswerA" />
        <result column="test_answerB" jdbcType="VARCHAR" property="testAnswerB" />
        <result column="test_answerC" jdbcType="VARCHAR" property="testAnswerC" />
        <result column="test_answerD" jdbcType="VARCHAR" property="testAnswerD" />
        <result column="test_answerA_score" jdbcType="VARCHAR" property="testAnswerA_score" />
        <result column="test_answerB_score" jdbcType="VARCHAR" property="testAnswerB_score" />
        <result column="test_answerC_score" jdbcType="VARCHAR" property="testAnswerC_score" />
        <result column="test_answerD_score" jdbcType="VARCHAR" property="testAnswerD_score" />
        <result column="test_type" jdbcType="VARCHAR" property="testType" />
    </resultMap>

    <sql id="baseColumn">
    id,
    test_question,
    test_answerA,
    test_answerB,
    test_answerC,
    test_answerD,
    test_answerA_score,
    test_answerB_score,
    test_answerC_score,
    test_answerD_score,
    test_type
  </sql>

    <insert id="addTestQuestion" parameterType="com.tangtang.manager.pojo.BaseTestQuestion">
        INSERT  INTO base_test_question
        (
            test_question,
            test_answerA,
            test_answerB,
            test_answerC,
            test_answerD,
            test_answerA_score,
            test_answerB_score,
            test_answerC_score,
            test_answerD_score,
            test_type
        )
        VALUES
        (
            #{testQuestion},
            #{testAnswerA},
            #{testAnswerB},
            #{testAnswerC},
            #{testAnswerD},
            #{testAnswerA_score},
            #{testAnswerB_score},
            #{testAnswerC_score},
            #{testAnswerD_score},
            #{testType}
        )
   </insert>

    <select id="getTestQuestionList" resultMap="BaseResultMap">
        SELECT <include refid="baseColumn"/>
        FROM base_test_question
        order by test_type
    </select>

    <update id="updateTestQuestion">
        UPDATE base_test_question
        <set>
            <if test="testQuestion != null">
                test_question = #{testQuestion},
            </if>

            <if test="testAnswerA != null">
                test_answerA = #{testAnswerA},
            </if>

            <if test="testAnswerB != null">
                test_answerB = #{testAnswerB},
            </if>

            <if test="testAnswerC != null">
                test_answerC = #{testAnswerC},
            </if>
            <if test="testAnswerD != null">
                test_answerD = #{testAnswerD},
            </if>

            <if test="testAnswerA_score != null">
                test_answerA_score = #{testAnswerA_score},
            </if>

            <if test="testAnswerB_score != null">
                test_answerB_score = #{testAnswerB_score},
            </if>

            <if test="testAnswerC_score != null">
                test_answerC_score = #{testAnswerC_score},
            </if>
            <if test="testAnswerD_score != null">
                test_answerD_score = #{testAnswerD_score},
            </if>

            <if test="testType != null">
                test_type = #{testType},
            </if>
        </set>
        WHERE id = #{id}
    </update>



</mapper>